/README.html

*.d
*.o
*.csv
*.hpp

/examples/basic_distributions/triangle
/examples/basic_distributions/wishart2



examples/identifying_mixture_models/Gauss_mix
examples/identifying_mixture_models/Gauss_mix.exe
examples/identifying_mixture_models/Gauss_mix.data.R
examples/identifying_mixture_models/Gauss_mix.stan

examples/identifying_mixture_models/Gauss_mix_nonexchangeable
examples/identifying_mixture_models/Gauss_mix_nonexchangeable.exe
examples/identifying_mixture_models/Gauss_mix_nonexchangeable.data.R
examples/identifying_mixture_models/Gauss_mix_nonexchangeable.stan


examples/identifying_mixture_models/Gauss_mix_ordered
examples/identifying_mixture_models/Gauss_mix_ordered.exe
examples/identifying_mixture_models/Gauss_mix_ordered.data.R
examples/identifying_mixture_models/Gauss_mix_ordered.stan

examples/identifying_mixture_models/Gauss_mix_overlap
examples/identifying_mixture_models/Gauss_mix_overlap.exe
examples/identifying_mixture_models/Gauss_mix_overlap.data.R
examples/identifying_mixture_models/Gauss_mix_overlap.stan
